*{
    margin: 0%;
    padding: 0%;
}

.main{
    background-color: rgb(143, 144, 144);
    display: flex;
    justify-content: center;
    align-items: end;
    width: fit-content;
    flex-direction: column;
        border-radius: 15px;
}

.screen{
        height: 55px;
    width: 85%;
    background-color: rgb(188, 236, 181);
    margin-right: 16px;
    margin-top: 11px;
    margin-bottom: 5px;
     border-radius: 15px;
         display: flex;
    justify-content: end;
    align-items: center;
}


.solar{
        height: 32px;
    width: 100px;
    background-color: brown;
    margin-right: 15px;
    margin-top: 11px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.solarblock{
    height: 31px;
    width: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.switch{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    gap: 1em;
        margin: 15px;
}

.keys{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keys:hover{
    box-shadow: 5px 7px 15px rgba(1, 1, 1, 0.7);
}

#btnbarabar{
   background-color: rgb(254, 187, 87);
}
#btnbarabar:hover{
    box-shadow: 5px 7px 15px rgba(253, 105, 0, 0.7);
}

#btnplus, #btnminus, #btnbhang, #btnx, #btntaka{
    background-color: rgb(107, 108, 108);
}
#btnac{
    background-color: rgb(162, 246, 246);
}
#btnac:hover{
    box-shadow: 5px 7px 15px rgba(0, 219, 253, 0.7);
}
#btnback{
    background-color: rgb(237, 146, 146);
}
#btnback:hover{
    box-shadow: 5px 7px 15px rgba(249, 28, 28, 0.7);
}
.keybtn{
      width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: larger;
    
}

.brtbtn{
    background-color: aliceblue;
   height: -webkit-fill-available;
    border-radius: 10px;
}